/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 1rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Section Styles */
  section {
    padding: 2rem 0;
  }
  
  #about p {
    margin: 1rem 0;
  }
  
  .project-gallery {
    display: flex;
    gap: 2rem;
  }
  
  .project {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .project:hover {
    transform: scale(1.05);
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .project a {
    display: inline-block;
    margin-top: 0.5rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Contact Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 0.5rem 0;
  }
  
  form input,
  form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
  }
  